@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: "Roboto", sans-serif;
    background: rgb(238,238,238);
}
header{
    /* background: red; */
    height: 3rem;
}
/* ******************title********************** */
.titlebar{
    height: 50%;
    /* outline: 2px solid blue; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.title-img{
    height: 60%;
    margin-left: 0.5rem;
}
.title-text{
    font-size: 1rem;
}
/* *******************menu bar******************* */
.menu-bar{
    height: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 0.5rem;
    /* outline: 4px solid green; */
}
/* *******************main******************* */
main{
    background: black;
    height: calc(100vh - 7rem);
}
/* *******************footer******************* */
footer{
    height: 4rem;
}
menu-items{
    background: rgb(238,238,238);
}