@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: "Roboto", sans-serif;
    background: rgb(238,238,238);
}
header{
    /* background: red; */
    height: 3rem;
}
/* ******************title********************** */
.titlebar{
    height: 50%;
    /* outline: 2px solid blue; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.title-img{
    height: 60%;
    margin-left: 0.5rem;
}
.title-text{
    font-size: 1rem;
}
/* *******************menu bar******************* */
.menu-bar{
    height: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 0.5rem;
    /* outline: 4px solid green; */
}
.menu-items{
    background: rgb(238,238,238);
    position: absolute;
    top: 1.75px;
    width: 7rem;
    display: none;
}
.menu-btn:hover{
    background-color: lightblue;
    cursor: pointer;
}
.menu:hover .menu-items{
    display: block;
}
li{
    padding: 0.25rem;
}
li:hover{
    cursor: pointer;
    background-color: rgb(213, 211, 211);
}
.menu{
    position: relative;
}
.video-file{
    display: none;
}
/* *******************main******************* */
main{
    background: black;
    height: calc(100vh - 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    height: 100%;
}
.toast{
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 50px;
    right: 120px;
}
/* *******************footer******************* */
footer{
    height: 4rem;
}
